In [1]:
import pandas as pd

In [2]:
data_file= 's3://tg-demo-bucket/category_clicked_android_448.csv'

df= pd.read_csv(data_file)

In [3]:
df.head(10)

         id       category_name                    received_at time_stamp
0  MTAxNDU4              sports  2020-07-20T23:47:39.667-05:00        NaN
1  MTAxNDU4              comedy  2020-07-20T23:47:41.926-05:00        NaN
2  MTAxMjUx               gamer  2020-07-21T00:49:30.754-05:00        NaN
3  MTAxMjUx  arts_entertainment  2020-07-21T00:49:31.811-05:00        NaN
4  MTAxMjUx        food_blogger  2020-07-21T00:49:33.519-05:00        NaN
5  MTAxMTEz  arts_entertainment  2020-07-21T12:23:21.260-05:00        NaN
6  MTAxMjUx              sports  2020-07-21T15:14:36.900-05:00        NaN
7      MjYy      event_promoter  2020-07-22T06:33:02.890-05:00        NaN
8      MjYy        food_blogger  2020-07-22T06:33:46.438-05:00        NaN
9      MzA1              beauty  2020-07-22T07:42:02.295-05:00        NaN